<h1 class="animated fadeIn fast">Sobre comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, illo nulla iure eveniet nisi fuga, corporis
  quaerat impedit cumque velit placeat necessitatibus ducimus iusto. Nulla, magnam? Tempora, mollitia? Porro veritatis
  nihil, aperiam minus doloremque vero at nulla totam, illo commodi aliquam reiciendis aspernatur qui quisquam suscipit
  modi dolorum accusantium quibusdam, assumenda atque excepturi itaque voluptatem. Fugit vero nostrum placeat tempore
  minus ducimus temporibus. Cum quidem tempore necessitatibus ut laborum, saepe magnam deleniti. Recusandae quos, nam
  amet consequuntur fugiat ullam eum sequi porro laudantium sunt natus sit quae suscipit adipisci? Debitis, at numquam
  optio nam quia beatae fuga nostrum incidunt esse?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error esse consequuntur doloribus officiis iste sequi quam
  cumque tempora! Error, amet?
</p>
